<link rel="stylesheet" href="/assets/css/snippets-display.css">

{% block styleChanges %}
{% endblock %}

<h3>
{% block myTitle %}
{% endblock %}
</h3>



{% block circleContents %}
{% endblock %}


<!-- literal copy-paste -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$("section").not(".active").on("click", function(){
  $(this).addClass("active");
  $('body').addClass("active");
  $(this).closest('.collection').addClass("active-collection");
  var this_place= $(this).closest('section').css("order");
  $(this).closest('section').prevAll('.placeholder').css("order", this_place);
  $('h1').addClass("kinda-opaque");
  // $(this).closest("div").prev("h1").addClass("at-top").show();
})
$("section").on("click", "button.close", function(e){
  e.stopPropagation();
  $(this).closest("section").removeClass("active");
  $(this).closest('.collection').removeClass("active-collection");
  $("body").removeClass("active");
  //$(this).closest("section").closest("div").prev("h1").removeClass("at-top");
  $('h1').removeClass("kinda-opaque");
})
</script>
