{% extends "./base.njk" %}

{% block rightArea%}

            <div id="right-area" class="font-mySans overflow-x-hidden sm:overflow-auto ">
                <div id="moveable-right-area" class="transition-transform transform sm:translate-x-0 sm:transition-none">
                    <div id="top-bar" class="h-12 z-10 sm:hidden bg-onwardLightBlue dark:bg-dark-heading transition-transform duration-200 ease-in sm:sticky top-0 border-gray-600 border-b-1 dark:border-transparent border-opacity-30 shadow-lg">
                        <div class="grid grid-flow-col grid-cols-auto md:grid-cols-topbar max-w-content">
                            <div id="mobile-top-bar" class="flex leading-12 sm:hidden col-span-2">
                                <svg viewBox="0 0 100 80" class="block align-middle h-12 leading-12 ml-3 py-3 pt-4" onclick="slideLeftSidebar()">
                                    <rect width="60" height="7"></rect>
                                    <rect y="30" width="60" height="7"></rect>
                                    <rect y="60" width="60" height="7"></rect>
                                </svg>
                                <p class="flex-grow inline align-middle leading-12 text-xl text-center font-medium">{{ siteconfig.title }}</p>
                                {% if siteconfig.algoliaSearch and siteconfig.algoliaSearch.enabled %}
                                <svg viewBox="0 0 32 32" class="block align-middle h-12 leading-12 mr-3 py-3 pt-3" onclick="toggleSearch()">
                                    <path d="M27.414,24.586l-5.077-5.077C23.386,17.928,24,16.035,24,14c0-5.514-4.486-10-10-10S4,8.486,4,14  s4.486,10,10,10c2.035,0,3.928-0.614,5.509-1.663l5.077,5.077c0.78,0.781,2.048,0.781,2.828,0  C28.195,26.633,28.195,25.367,27.414,24.586z M7,14c0-3.86,3.14-7,7-7s7,3.14,7,7s-3.14,7-7,7S7,17.86,7,14z" id="XMLID_223_" />
                                </svg>
                                {% else %}
                                <div class="w-12"></div>
                                {% endif %}
                            </div>
                            {# <div id="topbar-desktop-title" class="hidden sm:inline-block leading-12 align-middle ml-8 lg:ml-32 text-base text-gray-500 dark:text-gray-400 pr-8 truncate">
                                {% if date %}<a href="/" class="text-indigo-900 dark:text-indigo-300 font-normal dark:font-light">Posts</a> › {% endif %}{{ title }}</div>
                            <div id="search-desktop-title" class="hidden sm:hidden leading-12 align-middle ml-8 lg:ml-32 text-base text-gray-500 dark:text-gray-400">
                            </div>
                            {% if siteconfig.algoliaSearch and siteconfig.algoliaSearch.enabled %}
                            <div id="search-box-bar" class="hidden sm:inline-block mr-6 ml-6 sm:mx-0 pt-3 col-span-2 sm:col-auto">
                                <input id="search-box" type="search" autocomplete="off" spellcheck="false" autocorrect="off" onkeyup="searchContent(event)" class="bg-white dark:bg-dark-nav text-gray-800 dark:text-gray-400 font-light shadow rounded-full border-0 ring-1 ring-gray-300 focus:ring-indigo-400 dark:ring-gray-700 dark:focus:ring-gray-600 pl-2 h-6 w-2/3 sm:float-right sm:mr-6 md:float-none md:w-56 focus:outline-none" placeholder="Search..." aria-label="Search box">
                                <span id="mobile-search-cancel" class="hidden sm:hidden ml-4" onclick="toggleSearch()">Cancel</span>
                            </div>
                            {% endif %} #}
                        </div>
                        <div></div>
                    </div>
                </div>

                <div class="dark:bg-dark-body grid grid-flow-col grid-cols-auto  xl:grid-cols-simple max-w-content mb-12">
                    <main class="min-w-0">
                        <div class="content page pt-4">
                            {{ content | safe }}
                        </div>
                    </main>
                    
                    <div id="search-container" class="hidden truncate">
                        <div class="postlist pb-8 mt-8 font-light dark:font-extralight pt-4 min-w-0">
                            <div id="search-mobile-title" class="hidden leading-12 align-middle text-gray-500 dark:text-gray-400">
                            </div>
                            <ul id="search-results" class="mt-3">
                            </ul>
                            <span id="search-no-results" class="mt-3 hidden">
                                No data found for the given query.
                            </span>
                            <img src="/assets/images/algolia.png" alt="Search powered by Algolia" />
                        </div>
                    </div>
                    
                </div>
                
            </div>
         
{% endblock %}