<meta charset="utf-8">
<title>{% if title %}{{ title }} | {% endif %}{{ siteconfig.title }}</title>
{% if siteconfig.googleAnalytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ siteconfig.googleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ siteconfig.googleAnalytics }}');
</script>
{% endif %}

<link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/blackberry_favicons2/apple-icon-57x57.png' | addHash }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/blackberry_favicons2/apple-icon-60x60.png' | addHash }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/blackberry_favicons2/apple-icon-72x72.png' | addHash }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/blackberry_favicons2/apple-icon-76x76.png' | addHash }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/blackberry_favicons2/apple-icon-114x114.png' | addHash }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/blackberry_favicons2/apple-icon-120x120.png' | addHash }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/blackberry_favicons2/apple-icon-144x144.png' | addHash }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/blackberry_favicons2/apple-icon-152x152.png' | addHash }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/blackberry_favicons2/apple-icon-180x180.png' | addHash }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ '/assets/blackberry_favicons2/android-icon-192x192.png' | addHash }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/blackberry_favicons2/favicon-32x32.png' | addHash }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/blackberry_favicons2/favicon-96x96.png' | addHash }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/blackberry_favicons2/favicon-16x16.png' | addHash }}">
<link rel="manifest" href="{{ '/assets/blackberry_favicons2/manifest.json' | addHash }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/blackberry_favicons2/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

{# <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' | addHash }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32x32.png' | addHash }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16x16.png' | addHash }}">
<link rel="manifest" href="{{ '/assets/favicons/site.webmanifest' | addHash }}" crossorigin="use-credentials">
<link rel="mask-icon" href="{{ '/assets/favicons/safari-pinned-tab.svg' | addHash }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' | addHash }}"> #}
<link rel="canonical" href="{{ page.url | absoluteUrl }}" />
{% for name, item in meta %}
<meta name="{{ name }}" content="{{ item.value }}">
{% endfor %}
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ '/assets/favicons/browserconfig.xml' | addHash }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set description = description | truncate(55) %}
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ siteconfig.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | absoluteUrl }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }} | {% endif %}{{ siteconfig.title }}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ siteconfig.description }}{% endif %}">
<meta property="og:image" content="{% if image %}{{ image | addHash  | absoluteUrl }}{% else %}{{ siteconfig.openGraphDefaultImage | addHash | absoluteUrl }}{% endif %}">
<meta property="og:image:url" content="{% if image %}{{ image | addHash  | absoluteUrl }}{% else %}{{ siteconfig.openGraphDefaultImage | addHash | absoluteUrl }}{% endif %}">
<meta name="twitter:image" content="{% if image %}{{ image | addHash | absoluteUrl }}{% else %}{{ siteconfig.openGraphDefaultImage | addHash | absoluteUrl }} {% endif %}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="{{ siteconfig.socialTwitter }}">
<script src="{{ '/assets/js/min.js' | addHash }}" type="module"></script>
<link rel="stylesheet" href="{{ '/assets/css/site-build.css' | addHash }}">