---
layout: typical_base.njk
include_aside: true
---
<div class = "content">
<div class="post border-solid border-b-1 border-gray-700 pb-6">
  	<h1>{{ title }}</h1>
  	<div class="mb-4 flex text-sm font-light dark:font-extralight">
		<div class="flex text-right text-gray-700 dark:text-gray-400">
        	{{ date | readableDate }}
		</div>
	</div>
	{% if image %}
	<img src="{{ image }}" alt="{{ imageAlt }}" />
	{% endif %}
  	{{ content | safe }}
  	{# {% include "social.njk" %} #}
</div>
	{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}	
	{% set nextPost = collections.posts | getNextCollectionItem(page) %}
	<div class="pt-4 text-right"> 
		{% if previousPost.url %}
		<a href="{{ previousPost.url }}"> <span class="underline text-onwardFontColor dark:text-gray-400">&larr; <i>previous page</i></span></a>
		{% endif  %}
		{% if previousPost.url and nextPost.url %}
		 &middot;
		{% endif  %}
		{% if nextPost.url %}
		<a href="{{ nextPost.url }}"><span class="underline text-onwardFontColor dark:text-gray-400" ><i>next page</i> &rarr;</span></a> 
		{% endif  %}
	</div>
</div>
