---
layout: typical_base.njk
include_aside: true
---

<div class="content page pt-4">
    <h1>{{ title }}</h1>
    <div class = "text-sm">
    {% if published %}
    <div> originally published: {{published | readableDate }} </div>
    {% endif %}

    {% if lastupdated %}
     <div > last updated: {{ lastupdated | readableDate }} </div>
    {% endif %}
    </div>
    <br>
    <hr>

    <div class = "pb-4">
        {{ content | safe }}
    </div>
</div>