<form class="py-3 justify-center" action="https://tinyletter.com/onwardlyfaring" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/onwardlyfaring', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <input type="text" name="email" id="tlemail" class="w-2/3 h-8 rounded-md border"/>
    <input type="hidden" value="1" name="embed"/>
    <input type="submit" value="Subscribe" class="h-8 text-sm py-px px-4 rounded-xl bg-onwardPurplish dark:bg-blackberry" />
 </form>