---
eleventyExcludeFromCollections: true
layout: page.njk
title: Home
---
<h2> Hello! </h2>

<p> Welcome to my fledgling site. I don't yet know what will be constructed here: cathedral, carousel, small-cozy home? I look forward, though, to shaping it, and I look forward to letting it shape me. This is a long-term project. I partake in it with commitment and heart. </p>


<p> If you want to accompany me on this project, you can subscribe to <a href="{{ '/blog.rss' | absoluteUrl }}">the RSS feed</a> or join my email list below. Or simply check back here from time to time!  </p>
{% include "content/_includes/convertkit-form.html" %}

<div class= "pt-10 mx-auto block w-[25rem]"> 
<div class = "hitespace-pre-wrap italic" >
Ah, God, don't lose your balance. Even he
<br />
who loves you and in darkness still can see 
<br />
and know your face, when like a wavering light 
<br />
he feels your breath, does not possess you quite. 
<br />
And if at night by some one you are guessed, 
<br />
so that you're forced to come into his prayer: 
<br />
&emsp; you're still the guest
<br />
&emsp; that onwardly will fare. 
</div>
<div class="text-xs font-extralight text-stone-300 pt-3">
    from Rilke's "You Mustn't Be Afraid, God" 
    </br> as translated by J. B. Leishman
</div>
</div>