---
eleventyExcludeFromCollections: true
layout: page.njk
title: Home
---
<h2> Hello! </h2>

<p> Welcome to my fledgling site. I don't yet know what will be constructed here: cathedral, carousel, small-cozy home? I look forward, though, to shaping it, and I look forward to letting it shape me. This is a long-term project. I partake in it with commitment and heart. </p>


{# <p> If you want to accompany me on this project, you can subscribe to <a href="{{ '/blog.rss' | absoluteUrl }}">the RSS feed</a> or join my email list below. Or simply check back here from time to time!  </p>
{% include "content/_includes/convertkit-form.html" %} #}

{# <div class="bg-onwardPurplish text-emerald-700 whitespace-pre-line"> 
Ah, God, don't lose your balance. Even he
who loves you and in darkness still can see
and know your face, when like a wavering light
he feels your breath, does not possess you quite.
And if at night by some one you are guessed,
so that you're forced to come into his prayer:
    you're still the guest
    that onwardly will fare.
</div> #}