---
layout: page.njk
title: Holding Dear
tags: 
  - page
permalink: /things-i-love/
---
<h2>Some things I love</h2>
<div class="pt-5 grid grid-cols-1 gap-y-2">
  {% for note in collections.holdingdear %}
    
  <div class="border border-onwardFontColor p-5 rounded-lg leading-snug">
    
  <span class="text-xl font-semibold text-onwardFontColor">{{note.data.title}}</span> &nbsp; 
    {{note.data.category}}
    {% if note.templateContent %}
    <div class="pt-5 text-xs">
      <details>
      <summary>{% excerpt note %}</summary>
      {% nonexcerpted note %}
      {# {{note.templateContent | safe}} #}
    </details>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
