---
layout: page.njk
title: Holding Dear
tags: 
  - page
---
{% import "./macros.njk" as macro with context %}
<h2>Some things I love</h2>

<h3>Books</h3>
<h4>Saving God by Mark Johnston</h4>
<h3>Poems</h3>
<h3>Music</h3>
<h4>Owen Pallet playing "In Conflict" live in London, 2013-08-11 ?</h4>
<h4>Voice in Headphones</h4>
<h3>Psychological tools</h3>
{{macro.dearsummaries(collections.psychtools)}}

<h3>Websites</h3>
<h3>Essays</h3>
<h3>Concepts</h3>
<h4>Ironic understanding</h4>
<h3>Apps</h3>
{{macro.dearsummaries(collections.technology)}}

<h3>Math</h3>