---
layout: page.njk
title: Semester I
tags: 
  - page
permalink: /semester-ii/{{ pagination.pageNumber }}/
include_aside: false
pagination:
  data: zinepages
  size: 2
zinepages:
 - pgstart
 - pg1
 - pg2
 - pg3
 - pg4
 - pg5
 - pg6
 - pg7
 - pg8
 - pg9
 - pg10
 - pg11
 - pg12
 - pg13
 - pg18
 - pg19
 - pg20
 - pgend
---

<div class="mt-4 flex items-center">

  {% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">←</a>
  {% endif %}
  
  <div class="pages">
    {% if pagination.href.previous %}
    <div class="object-contain w-1/2 inline-block"><a href="{{pagination.href.previous}}"><img src="/assets/images/semester ii selections/{{pagination.items[0]}}.png" class="shadow-none rounded-none"/></a></div>
    {% else %}
    <div class="object-contain w-1/2 inline-block invisible"><img src="/assets/images/semester ii selections/{{pagination.items[0]}}.png" class="shadow-none rounded-none"/></div>
    {% endif %}

    {% if pagination.href.next %}
    <div class="object-contain w-1/2 inline-block"><a href="{{pagination.href.next}}"><img src="/assets/images/semester ii selections/{{pagination.items[1]}}.png" class="shadow-none rounded-none"/></a></div>
    {% else %}
    <div class="object-contain w-1/2 inline-block invisible"><img src="/assets/images/semester ii selections/{{pagination.items[1]}}.png" class="shadow-none rounded-none"/></div>
    {% endif %}
  </div>

  {% if pagination.href.next %}
  <a href="{{pagination.href.next}}">→</a>
  {% endif %}
  
</div>

<h2>semester ii</h2>