---
layout: page.njk
title: Q & A
tags: 
  - page
permalink: /questions-and-answers/
---
<h2>Q & A</h2>

<section class="mx-0 my-auto overflow-hidden" aria-label="carousel" Tabindex="0">
  <div class="w-full flex overflow-x-scroll snap-x snap-mandatory scroll-smooth">
    {% for set in collections.questionsets %}
    <div class="flex shrink-0 origin-center snap-start transition-transform scale-100 w-full relative" id="{{set.fileSlug}}" tabindex="0">
      <div class="inline">
      {{set.templateContent | safe}} 
      </div>
    </div>
    {% endfor %}
  </div>
  <hr class="my-4">
  <div class="carousel__nav">
    {% for set in collections.questionsets %}
    <a class="slider-nav" href="#{{set.fileSlug}}">{{set.data.title}}</a> <br>
    {% endfor %}
  </div>
</section>

<script type="text/javascript">
  var questionsList = [
    "are you proud of the person you are becoming?",
    "how often are you truly relaxed?",
    "what is your relationship with your body like?",
    "what small joy did you notice today?",
    "what are you aching for?",
    "does it feel like something is missing?",
    "in what sense does it matter that *you* are the one doing your work?",
    "how are you making use of your strengths?",
    "how long would you be content to continue doing what you are doing?",
    "what’s top of mind for you right now?",
    "when was the last time you failed?",
    "which person from your past would you most like to speak to again?",
    "what have you done or made in the last year that you’re proud of?",  
  ];
  var toEnd = false;

  function giveQuestion(){
    document.getElementById("js-form-response").innerHTML=""
    this.classList.add("hidden");
    var itemIndex = Math.floor(Math.random() * questionsList.length)
    var item = questionsList[itemIndex];
    questionsList.splice(itemIndex, 1);
    document.querySelector("hr").classList.remove("invisible");
    document.querySelector(".question").innerText = item;
    document.querySelector("#response-form").classList.remove("invisible");
  }

  function receiveQuestions(){
    document.getElementById("js-form-response").innerHTML=""
    document.querySelector(".out-of-questions").classList.add("hidden");
    document.querySelector(".give-questions").classList.add("hidden");
    document.querySelector(".question").innerText = "what questions do you have?"
    document.querySelector("#response-form").classList.remove("invisible");
    toEnd = true;
  }

  document.querySelector(".get-question").addEventListener("click", giveQuestion);
  document.querySelector(".get-another-question").addEventListener("click", giveQuestion);
  document.querySelector(".give-questions").addEventListener("click", receiveQuestions);
  </script>

  <script type="text/javascript">
    (function() {
      // get all data in form and return object
      function getFormData(form) {
        var elements = form.elements;
        var honeypot;

        var fields = Object.keys(elements).filter(function(k) {
          if (elements[k].name === "honeypot") {
            honeypot = elements[k].value;
            return false;
          }
          return true;
        }).map(function(k) {
          if(elements[k].name !== undefined) {
            return elements[k].name;
          // special case for Edge's html collection
          }else if(elements[k].length > 0){
            return elements[k].item(0).name;
          }
        }).filter(function(item, pos, self) {
          return self.indexOf(item) == pos && item;
        });

        var formData = {};
        fields.forEach(function(name){
          var element = elements[name];

          // singular form elements just have one value
          formData[name] = element.value;

          // when our element has multiple items, get their values
          if (element.length) {
            var data = [];
            for (var i = 0; i < element.length; i++) {
              var item = element.item(i);
              if (item.checked || item.selected) {
                data.push(item.value);
              }
            }
            formData[name] = data.join(', ');
          }
        });

        // add form-specific values into the data
        formData.formDataNameOrder = JSON.stringify(fields);
        formData.formGoogleSheetName = form.dataset.sheet || "responses"; // default sheet name
        formData.formGoogleSendEmail
          = form.dataset.email || ""; // no email by default

        return {data: formData, honeypot: honeypot};
      }

      function handleFormSubmit(event) {  // handles form submit without any jquery
        event.preventDefault();           // we are submitting via xhr below

        document.getElementById("what-question").value = document.getElementsByClassName("question")[0].innerHTML;

        var form = event.target;
        var formData = getFormData(form);
        var data = formData.data;

        // If a honeypot field is filled, assume it was done so by a spam bot.
        if (formData.honeypot) {
          return false;
        }

        // disableAllButtons(form);
        document.getElementById("js-form-sending").classList.remove("hidden")
        var url = form.action;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        // xhr.withCredentials = true;
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function() {
            document.getElementById("js-form-sending").classList.add("hidden")
            if (xhr.readyState === 4 && xhr.status === 200) {
              form.reset();
              document.querySelector(".question").innerText="";
              document.querySelector("#response-form").classList.add("invisible");
              if (toEnd === false){
                document.getElementById("js-form-response").innerHTML = "thanks for the answer :)";
                console.log(questionsList.length);
                if (questionsList.length>0){
                  document.querySelector(".get-another-question").classList.remove("hidden");
                } else{
                  document.querySelector(".out-of-questions").classList.remove("hidden");
                  document.querySelector(".give-questions").classList.remove("hidden");
                }
              } else{
                document.getElementById("js-form-response").innerHTML = ":)";
              }

            }
        };
        // url encode form data for sending as post data
        var encoded = Object.keys(data).map(function(k) {
            return encodeURIComponent(k) + "=" + encodeURIComponent(data[k]);
        }).join('&');
        xhr.send(encoded);
      }

      function loaded() {
        // bind to the submit event of our form
        var forms = document.querySelectorAll("form.gform");
        for (var i = 0; i < forms.length; i++) {
          forms[i].addEventListener("submit", handleFormSubmit, false);
        }
      };
      document.addEventListener("DOMContentLoaded", loaded, false);

      function disableAllButtons(form) {
        var buttons = form.querySelectorAll("button");
        for (var i = 0; i < buttons.length; i++) {
          buttons[i].disabled = true;
        }
      }
    })();

  </script>